.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Subtracting the height of the header */
    background-color: rgb(249, 241, 241);
  }

  .form-container {
    margin-top: 10%; /* Ajusta el espacio entre el logo y el formulario */
  }

  .form-margin {
    margin: 0 20px; /* Ajusta el margen horizontal del formulario según sea necesario */
    max-width: 100%; /* Opcional: establece el ancho máximo del formulario */
  }

  .input-item {
    margin-bottom: 10%; /* Añade espacio entre los elementos de entrada */
    border-radius: 10px; /* Redondea los bordes de los elementos de entrada */
    
  }

  .logo {
    width: 50%; /* Ajusta el ancho del logo */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
  }
  
  