.content-background {
    --ion-background-color: white;
  }
.p{
    color: black;
}

.scroll-container {
  max-height: 70%; /* Altura máxima del contenedor con scroll */
  overflow-y: auto; /* Habilitar scroll vertical */
}

.ion-card{
  border-radius: 10px;
}
