<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SharedSpace
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <ion-card *ngIf="apartmentVisible">
    <img src="../../assets/images/loguete.png"/>
    <ion-card-header>
      <ion-card-title>{{apartment?.name}}</ion-card-title>
      <ion-card-subtitle>{{apartment?.nameowner}}</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-button size="large" (click)="goToApartmentInfo()">Go {{apartment?.name}}</ion-button>  -->
    <ion-button fill="clear" (click)="goToApartmentInfo()">More info</ion-button>
  </ion-card>

  

  <div *ngIf="!apartmentVisible">
    <br>
    <h3 style="color: black; text-align: center;">Usuario sin apartamento asignado</h3>
    <br>
    <ion-button size="medium" expand="block" style="margin-left: 20px; margin-right: 20px;" (click)="goToSearchApartment()">Search Apartment</ion-button>
    <ion-button size="medium" expand="block" style="margin-left: 20px; margin-right: 20px;" (click)="goToCreateApartment()">Create Apartment</ion-button>
  </div>
</ion-content>
