<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      USER
    </ion-title>
  </ion-toolbar>
</ion-header> 

 <ion-content [fullscreen]="true" class="content-background">
  <ion-card style="margin-top: 5%; margin-left: 5%; margin-right: 5%;"> 
    <div style="display: flex; align-items: center;">
      <img alt="Silhouette of mountains" src="../../assets/images/loguete.png" style="width: 150px; height: auto; object-fit: cover; margin-right: 10px; border-radius: 10px;" /> <!-- Recortar la imagen y agregar margen derecho -->
        <div style="flex: 1;">
          <div class="vertical-stack"> 
              <ion-card-header>
                  <div class="stacked-content">
                      <ion-card-title class="same-font-style">{{name}}</ion-card-title>
                      <ion-card-subtitle class="same-font-style">{{surname}}</ion-card-subtitle>
                      <ion-button fill="clear" (click)="goToMoreInfo($event)">More info</ion-button>
                  </div>
              </ion-card-header>
          </div>
      </div>
    </div>
  </ion-card>

  <ion-card style="margin-top: 3%; margin-left: 5%; margin-right: 5%; height: 35%;" (click)="goToSurveysviews()"> <!-- Hacer el card clickeable -->
    <ion-card-header>
      <ion-card-title>Survey List</ion-card-title>
    </ion-card-header>
    <div class="scroll-container">
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{item}}
        </ion-item>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreItems($event)">
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more items...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </div>
  </ion-card>

  <ion-card style="margin-top: 3%; margin-left: 5%; margin-right: 5%; height: 35%;" (click)="goToTasksviews()"> <!-- Hacer el card clickeable -->
    <ion-card-header>
      <ion-card-title>Task List</ion-card-title>
    </ion-card-header>
    <div class="scroll-container">
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{item}}
        </ion-item>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreItems($event)">
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more items...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </div>
  </ion-card>
</ion-content>
