<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SharedSpace
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">
  <ion-card style="margin-top: 10px; "> <!-- Agregar margen superior para separar del header -->
    <div style="display: flex; align-items: center;">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" style="width: 150px; height: auto; object-fit: cover; margin-right: 10px; border-radius: 10px; " /> <!-- Recortar la imagen y agregar margen derecho -->
      <div style="flex: 1;">
        <ion-card-header>
          <ion-card-title>{{username}}</ion-card-title>
          <ion-button fill="clear" (click)="goToMoreInfo()">More info</ion-button>
        </ion-card-header>      
      </div>      
    </div>
  </ion-card>

  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <ion-datetime class="datetime-margin" locale="en-GB" hourCycle="h12"></ion-datetime>
  </div>
  <ion-button style="margin-top: 10px; margin-left: 20px; margin-right: 20px;" expand="block" (click)="goToTasks()">Create a Task</ion-button>

  
  

</ion-content>

