
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SharedSpace
    </ion-title>
    
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="content-background">
  <div class="ion-padding">
    <div class="button-divider">
      <ion-button expand="block" size="default" (click)="navigateToEditUser()" class="centered-text">Edit User</ion-button>
    </div>
    <div class="button-divider">
      <ion-button expand="block" size="default" (click)="redirectToLogin()" class="centered-text">Close Session</ion-button>
    </div>
    <div class="button-divider">
      <ion-button expand="block" size="default" color="danger" (click)="confirmDeleteAccount()" class="centered-text">Delete Account</ion-button>
    </div>
  </div>
</ion-content>
