<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Settings
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-button size="default" (click)="navigateToEditUser()">Edit User</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="default" color="danger" (click)="confirmDeleteAccount()">Delete Account</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="default" (click)="redirectToLogin()">Close Session</ion-button>
    </ion-col>
  </ion-row>
</ion-content>