.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 56px); /* Subtracting the height of the header */
    --ion-background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    background-image: url('../../assets/images/loguete.png'); /* Ruta de tu imagen de fondo */
    background-size: 300px; /* Ajusta el tamaño de la imagen para cubrir todo el contenido */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza el contenido */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }

  .container {
    margin-top: 20px; /* Ajusta el espacio entre el logo y el formulario */
    justify-content: center;
  }

  .margin {
    margin: 0 20px; /* Ajusta el margen horizontal del formulario según sea necesario */
    max-width: 400px; /* Opcional: establece el ancho máximo del formulario */
  }

  .item {
    margin-bottom: 20px; /* Añade espacio entre los elementos de entrada */
    border-radius: 10px; /* Redondea los bordes de los elementos de entrada */
    font-size: 24px;
    
  }

  .logo {
    width: 150px; /* Ajusta el ancho del logo */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
  }
  
  