<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
          </ion-buttons>
        <ion-title>
        Usuario <!--Aqui iria el nombre del usuario-->
      </ion-title>  
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true" class="content-wrapper">
    <div >      
      <div class="container">
        <form class="ion-padding margin">
          <ion-item lines="none" class="item">
            <ion-label position="stacked">Email address : ....</ion-label>  <!--Aqui iria el email del usuario-->
          </ion-item>
  
          <ion-item lines="none" class="item">
            <ion-label position="stacked">Password : ....</ion-label>  <!--Aqui iria la contraseña del usuario-->
          </ion-item>
        </form>
      </div>
    </div>
  </ion-content>
  