.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 56px); /* Subtracting the height of the header */
  --ion-background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad ligeramente mayor */
  background-image: url('../../assets/images/loguete.png'); /* Ruta de tu imagen de fondo */
  background-size: 300px; /* Ajusta el tamaño de la imagen para cubrir todo el contenido */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza el contenido */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 20px; /* Añade relleno alrededor del contenido */
  color: #333; /* Color de texto */
  font-family: 'Arial', sans-serif; /* Cambia la tipografía */
}

.form-container {
  margin-top: 30px; /* Ajusta el espacio entre el logo y el formulario */
  padding: 20px; /* Añade relleno dentro del contenedor del formulario */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  border-radius: 15px; /* Redondea los bordes del contenedor del formulario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
}

.form-margin {
  margin: 0 20px; /* Ajusta el margen horizontal del formulario según sea necesario */
  max-width: 400px; /* Establece el ancho máximo del formulario */
}

.input-item {
  margin-bottom: 25px; /* Añade más espacio entre los elementos de entrada */
  border-radius: 10px; /* Redondea los bordes de los elementos de entrada */
  padding: 10px; /* Añade relleno dentro de los elementos de entrada */
  border: 1px solid #ccc; /* Añade un borde alrededor de los elementos de entrada */
  background-color: #f9f9f9; /* Color de fondo para los elementos de entrada */
}

.input-item ion-input {
  font-size: 16px; /* Aumenta el tamaño de la fuente dentro de los elementos de entrada */
  color: #ffffff; /* Color del texto dentro de los elementos de entrada */
}

.logo {
  width: 150px; /* Ajusta el ancho del logo */
  height: auto; /* Permite que la altura se ajuste proporcionalmente */
  margin-bottom: 20px; /* Añade espacio debajo del logo */
}

.button-divider {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #130505; /* Cambia el color y el grosor del borde según tus preferencias */
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
  margin-top: 40px; /* Ajusta el margen superior según sea necesario */
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px; /* Aumenta el tamaño de la fuente */
  color: #333; /* Color del texto */
}
