<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Account</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="content-wrapper">
  <div>
    <div class="form-container">
      <form class="ion-padding form-margin">
        <ion-item lines="none" class="input-item">
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" name="floating_name" id="floating_name" required [(ngModel)]="user.name"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-item">
          <ion-label position="stacked">Surname</ion-label>
          <ion-input type="text" name="floating_surname" id="floating_surname" required [(ngModel)]="user.surname"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-item">
          <ion-label position="stacked">DNI</ion-label>
          <ion-input type="text" name="floating_dni" id="floating_dni" required [(ngModel)]="user.dni"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" type="button" (click)="goBack()">Back</ion-button>
        <ion-button expand="block" color="primary" type="button" (click)="updateUser()">Save</ion-button>
      </form>
    </div>
  </div>
</ion-content>
