<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="GoToReminderViews()"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <img src="../../assets/images/reminderbg.png" width="200" height="200" class="giphy-embed">
   
    <form class="ion-padding form-margin" (submit)="createReminder()">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <ion-item lines="none" class="rounded-item">
              <ion-label position="stacked" class="label-description">Description</ion-label>
              <ion-textarea name="description" id="description" rows="6" [(ngModel)]="description" required></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <ion-item lines="none" class="rounded-item">
              <ion-label position="stacked" class="label-description">Date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" name="date" id="date" [(ngModel)]="date" required></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" color="primary" type="button" (click)="goBack()">Back</ion-button>
      <ion-button expand="block" color="primary" type="submit">Create</ion-button>
    </form>
  </div>
</ion-content>
