.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px); /* Subtracting the height of the header */
    background-color: white; /* Hace que el fondo sea blanco */
    
  }
  

  .form-margin {
    margin: 0 20px; /* Ajusta el margen horizontal del formulario según sea necesario */
    max-width: 400px; /* Opcional: establece el ancho máximo del formulario */
  }

  .rounded-item {
    border-radius: 10px; /* Añade bordes redondos a los elementos ion-item */
    margin-bottom: 5px; /* Reducir la separación entre elementos */

  }

  ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #37b6ff;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #37b6ff;
    
  }
  .label-description {
    height: auto; /* Ajusta la altura automáticamente */
  }
  
  ion-textarea {
    height: auto; /* Ajusta la altura automáticamente */
    min-height: 100px; /* Altura mínima del ion-textarea */
    max-height: none; /* Elimina la altura máxima */
  }
  
 