.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Subtracting the height of the header */
    background-color: rgb(234, 226, 226); /* Hace que el fondo sea blanco */
  }

  ion-back-button {
    --color: #3171e0;
  }

  .form-margin {
    margin: 0 5%; /* Ajusta el margen horizontal del formulario según sea necesario */
    max-width: 100%; /* Opcional: establece el ancho máximo del formulario */
  }

  .rounded-item {
    border-radius: 10px; /* Añade bordes redondos a los elementos ion-item */
    margin-bottom: 2%; /* Reducir la separación entre elementos */

  }
  .logo {
    width: 50%; /* Ajusta el ancho del logo */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
  }