<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <img src="../../assets/images/loguete.png" alt="Logo" class="logo">
    <form class="ion-padding form-margin" >
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <ion-item lines="none" class="rounded-item">
              <ion-label position="stacked">Name</ion-label>
              <ion-input type="text" name="floating_first_name" id="floating_first_name" [(ngModel)]="user.name" required></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6" class="ion-no-padding">
            <ion-item lines="none" class="rounded-item">
              <ion-label position="stacked">Last name</ion-label>
              <ion-input type="text" name="floating_last_name" id="floating_last_name" [(ngModel)]="user.surname" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <ion-item lines="none" class="rounded-item">
              <ion-label position="stacked">DNI (12345678-X)</ion-label>
              <ion-input type="text" pattern="[0-9]{8}-[A-Z]{1}" name="floating_DNI" id="floating_DNI" [(ngModel)]="user.dni" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none" class="rounded-item">
        <ion-label position="stacked">Email address</ion-label>
        <ion-input type="email" name="floating_email" id="floating_email" [(ngModel)]="user.email" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="rounded-item">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" name="floating_password" id="floating_password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit" (click)="registerUser()">Submit</ion-button>
    </form>
  </div>
</ion-content>
